.deco-none{
    text-decoration: none;
    color: currentColor;
    
}

ul, ol, menu{
    list-style: none;
}

img{
    width: 100%;
}

#app{
    height:100vh;
    background-color: #F8F9FA;
}
.app-content{
    height: 100%;
}
navbar .row{
    background-color: white;
    
}
.logo-mobile{
    width: 33px;
}
.search-bar{
    display: block;
    position: relative;
    margin: 12px 0;
    
}
.search-bar i {
    position: absolute;
    top: 50%;
    left: 6px;
    transform: translateY(-50%);
    pointer-events:none;
}
    
.search-bar input{
    background-color: #E5E5E5;
    height: 42px;
    width: 100%;
    outline:none;
    padding-left: 40px;
    padding-right: 10px;
    border-radius: 5px;
}
.toolbar li{
    padding: 0 10px;
}
.toolbar i {
    color: darkgrey;
}