.deco-none{
    text-decoration: none;
    color: currentColor;
    
}
ul, ol, menu{
    list-style: none;
}
#app{
    display: flex;
    height: 100vh;
}
.app-content{
    height: 100%;
    background-color: aquamarine;
}